.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

:root {
    --text-color: #413C69;
}

body {
    width: 320px;
    height: 568px;
    margin: 50px auto;
    outline: 2px solid rgb(196, 170, 166);
    position: relative;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: var(--text-color);
}

.header {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
}

.game__section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
    display: none;
}

.game__section--opened {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: open .4s ease-in-out;
}

.nav-list, .about__list, .settings__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list__link, .settings__value  {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;

    line-height: 125%;

    transition: color .15s ease-in-out;
}

.nav-list__link:hover, .field__give-up:hover, .settings__value:hover, .back-button:hover {
    cursor: pointer;
    color: #4a47a3;
}

.field__give-up, .back-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.field__grid {
    width: 180px;
    height: 180px;
    background-image: url("./img/grid.svg");
    align-self: center;
}

.field__text, .field__move {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.about__item-title {
    padding-bottom: 10px;
}

.about__item-title, .about__item-description {
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
}

.about__item {
    padding: 20px 0;
}

.settings__item {
    display: block;
    padding-top: 20px;
    cursor: pointer;
}

.settings__property {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.settings__value {
    display: block;
    width: 100%;
    text-align: center;
}

.settings__value::before {
    content: "выключен";
}

.settings__input:checked + .settings__value::before {
    content: "включен";
}

.rules__text {
    text-align: center;
    margin: 0;
}

@keyframes open {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
